[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/extern/googletest"]
	path = extern/extern/googletest
	url = https://github.com/google/googletest.git
